.header {
  height: 50px;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  background-color: rgb(85, 117, 106);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-part > div {
  padding: 0 10px;
}

.right-part > .user {
  height: 100%;
}
