.navbar {
  height: 50px;
  top: 0;
  box-sizing: border-box;
  padding-right: 40px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.left-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-nav .menu {
  height: 100%;
  background: #246bd6;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.left-nav > div {
  padding: 10px;
}

.left-nav .title {
  font-size: 18px;
  padding-left: 10px;
  font-weight: 500;
}

.right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-nav > div {
  padding: 6px;
}
